{% extends 'pages/page.html' %}

{% block extra_head %}
    {{ block.super }}
    <script src="https://wubook.net/js/wbbook.jgz"></script>
{% endblock %}

{% block main %}
    <div class="{{ page.wubookpage.class_content }}">
        <div id="_wbord_">
            <a href="http://en.wubook.net/" style="display: block; margin-top: 5px; text-decoration:none;border:none">
                <img src="https://wubook.net/imgs/default/booking_by_wu.gif" alt="Channel manager" title="Hotel and tourism technologies" style="border:none;text-decoration:none"/>
            </a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            var $middle = $('.middle');
            {% if not page.wubookpage.show_left_column %}
                $('.left').remove();
                $middle.removeClass('col-md-7');
                $middle.addClass('col-md-9');
            {% endif %}
            {% if not page.wubookpage.show_right_column %}
                $('.right').remove();
                $middle.removeClass('col-md-7');

                $middle.addClass('col-md-10');
            {% endif %}

            {% if not page.wubookpage.show_right_column and not page.wubookpage.show_left_column %}
                $middle.removeClass('col-md-9');
                $middle.removeClass('col-md-10');
                $middle.addClass('col-md-12');
            {% else %}

            {% endif %}

            var width_frame;
            {% if page.wubookpage.width %}
                width_frame = {{ page.wubookpage.width }};
            {% else %}
                width_frame = $middle.width();
            {% endif %}

            var heigt_frame;
            {% if page.wubookpage.height %}
                heigt_frame = {{ page.wubookpage.height }};
            {% else %}
                heigt_frame = 'auto';
            {% endif %}

            var WuBook= new _WuBook({{ page.wubookpage.lcode }});

            var wbparams= {
                lang: '{{ page.wubookpage.lang }}',
                layout: '{{ page.wubookpage.theme }}',
                mobile: {{ page.wubookpage.mobile }},
                height: heigt_frame,
                width: width_frame
            };

            WuBook.design_iframe("_wbord_", wbparams);
        });

    </script>
{% endblock %}

